.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
}

.user-info {
  height: 80vh;
  width: 50%;
  margin-left: 30px;
  border: 1px solid dimgray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.products-list {
  height: 80vh;
  width: 50%;
  margin-left: 30px;
  margin-right: 30px;
  border: 1px solid dimgray;
  border-radius: 10px;
}

.total-price{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 30px;
}

.btn-submit{
    margin-left: 240px;
    margin-right: 40px;
    height: 60px;
    width: 200px;
    border-radius: 10px;
    font-size: large;
}


.li-info:not(:last-child){
    margin-bottom: 50px;
}

.label-info{
    display: flex;
    flex-direction: column;
    font-size: large;
}

.input-info{
    height: 50px;
    width: 560px;
    border-radius: 10px;
    margin-top: 18px;
    font-size: large;
}